*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 30px rgba(0,0,0,0.9);
}

.todo-app h2{
    color: #1f2937;
    display:flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
     font-size: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left:10px ;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f3f4f6;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 12px 10px;
    font-weight: 400;
    font-size: 16px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #4f596f;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.3s;
}
button:hover {
background: #24345f;
}
ul li{
    list-style: none;
    font-size:17px ;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    background: #f9fafb;
    transition: 0.2s;
     margin-bottom: 4px;
    border-radius: 30px;
}

ul li:hover{
    background: #eef2ff;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checked.png);
}
ul li span{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    font-size: 24px;
    color: #ef4444;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}
ul li span:hover{
    background: #edeef0;
    color: #dc2626;
    border-radius: 50%;
}
#empty-message {
    text-align: center;
    color: #888;
    margin-top: 10px;
    font-size: 14px;
}


@media (max-width: 600px) {

    .todo-app{
        margin: 50px 10px;
        padding: 25px 15px 40px;
    }

    .row{
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    input{
        width: 100%;
        padding: 10px;
    }

    button{
        width: 100%;
        padding: 12px;
    }

    ul li{
        font-size: 15px;
        padding: 12px 8px 12px 45px;
    }
}

@media (max-width: 600px){
    .todo-app h2{
        font-size: 18px;
    }
}